/* Reset Body */
body{
	padding : 0px;
	margin : 0px;
}


/*
    Primary color         #99ccff
    Primary bright color  #3399FF
    Gray bg               #f6f6f6
    Dark Gray bg          #eeeeee
*/

.Header{
	width: 100%;
	height: 50px;
	float: right;
}

.Header input{
	width: 25%;
	height:20px;
	float: right;
	margin : 1rem;
}

.Icon_Holder{
	width: 32px;
	height: 25.3px;
	margin : 1rem;
	float:right;
}

.Left{
	width: 70%;
	height: 100%;
	float: left;
	padding: 0.5rem;
}

.Right{
	width: 28%;
	height: 100%;
	float: right;
}

.Left_Container{
	background-color: #99ccff;
	height: 650px; /* 임시 높이 설정 */
	margin: 0.5rem;
	border-width: 0.1px;
	border-color: #000000;
	border-style: solid;
	padding-left: 1rem;
}

.Left_Container h1{ /* 삭제 요망 */
    position: absolute;
	top: 45%;
	left: 5%;
}

.Right_Container{
	background-color: #eeeeee;
	height: 650px; /* 임시 높이 설정 */
	margin: 0.5rem;
	border-width: 0.1px;
	border-color: #000000;
	border-style: solid;
	padding-left: 1rem;
}

.Right_Container h1{ /* 삭제 요망 */
    position: absolute;
	top: 45%;
	right: 8%;
}


/* Gui Colors */
#Gui { 
	position: absolute; 
	top: 50px;
	padding:0.5rem; 
	border-color: solid 1px #000000;
}

span.property-name{
	background-color: rgba(200,200,200);
}

.dg.main ul li{
	background-color: rgba(200,200,200);
	color : rgb(0,0,0);
	height:27px;
}

/* .dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #ccc;
}
 
.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: #555;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
.dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}
 
.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
}
 
.dg .c input[type=text] {
    background: #e9e9e9;
}
 
.dg .c input[type=text]:hover {
    background: #eee;
}
 
.dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}
 
.dg .c .slider {
    background: #e9e9e9;
}

.dg .c .slider:hover {
    background: #eee;
} */
